/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(assets/wallpaper/wallpaper-dashboard.png);
    background-size: 100%;
    background-repeat: repeat-y;
    background-position: 0;
}

.flex-end {
    justify-content: flex-end;
}

.margin-all {
    margin: 20px;
}

.navbar-nav .nav-link {
    color: #ffffff;
}

.red-nav {
    background-color: #D63A3A;
}

.carousel {
    padding-top: 100px;
}

.margin-10 {
    margin-top: 100px;
}

.logo-navbar {
    position: fixed;
    z-index: 88;
    top: 0;
    left: 0;
    /* padding: 10px; */
}

.navbar {
    position: fixed;
    z-index: 80;
    width: 100%;
    top: 0;
    left: 0;
}

/* Padding for content to avoid overlap with fixed navbar */


/* Adjusting for mobile screens */
@media (max-width: 992px) {
    .nav-item {
        border-bottom: 2px solid #fff;
    }

    .navbar {
        min-height: 100px;
        width: 100%;
    }
    .judul-about-1 {
        font-size: 40px;
        width: 130px;
    }

    .logo-navbar img {
        max-width: 100px;
    }
}

@media (max-width: 500px) {
    .navbar {
        left: 0;
    }

    .logo-navbar {
        left: 0;
    }

    .navbar-collapse {
        width: 100%;
    }

    .navbar-nav {
        width: 100%;
        text-align: center;
    }

    .nav-item {
        width: 100%;
    }

    .nav-link {
        padding: 10px 15px;
        display: block;
    }

    .container-fluid {
        padding: 0 15px;
    }

    .content {
        padding-top: 100px;
    }

    .judul-about-1 {
        font-size: 30px;
        width: auto;
    }
    
}

.navbar-nav li.nav-item.active {
    border-bottom: solid 4px #fff;
}

.nav-item {
    min-width: 80px;
    text-align: center;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bg-home {
    position: fixed;
    z-index: 80;
    width: 100%;
}

.padding-bawah {
    padding-bottom: 30px;
}

.padding-bawah1 {
    padding-bottom: 12px;
}

.padding-atas1 {
    padding-top: 12px;
}

.item-about {
    padding: 10px;
}

.judul-about-1 {
    border-bottom: 4px solid #000;
    width: 230px;
}

.judul-about-2 {
    border-bottom: 4px solid #000;
    width: 170px;
}

.background-content {
    color: #000000;
    width: 100%;
    margin: 20px auto;
    background-color: #FFED9E;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.about {
    justify-content: space-between;
    padding: 10px 30px;
}

.isi-about {
    padding: 20px;
}

.item-about {
    max-width: 220px;
}

.tab {
    display: inline-block;
    margin-left: 4em;
}

.btn-selengkapnya {
    background-color: #D63A3A;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 25px;
    transition: background-color 0.3s;
    height: 50px;
    width: 200px;
}

.menu-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-dashboard-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-dashboard-content {
    width: 70%;
    background-color: #D63A3A;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.menu-dashboard-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-dashboard-1 img {
    max-width: 90%;
}

.menu-dashboard-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.isi-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.btn-selengkapnya-menu {
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 25px;
    transition: background-color 0.3s;
    height: 50px;
    width: 200px;
}

.footer {
    background-color: #ED1B24;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    position: static;
}

.bg-kuning {
    background-color: #FFED9E;
}

.text-merah {
    color: #ED1B24;
}